# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
env/
.idea/
.env
.venv/

# My files
creds.json
conf.py
*.sublime-project
*.sublime-workspace
*.db